@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 100%;
    transform: translateX(0px); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 100%;
    transform: translateX(0px); } }

@keyframes arrowDown {
  0% {
    top: 5rem; }
  50% {
    top: 8rem; }
  100% {
    top: 5rem; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background-color: #161A1D; }

body {
  font-family: Avenir, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7; }

.heading-primary {
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1.1rem;
    transition: all .2s ease-in-out;
    animation: moveInLeft 1s ease-out; }
    .heading-primary--main:hover {
      transform: scale(1.1) skewY(-3deg);
      color: #161A1D;
      text-shadow: 0.5rem 1rem 2rem rgba(11, 9, 10, 0.2);
      background-color: white; }
  .heading-primary--sub {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    transition: all .2s ease-in-out;
    animation: moveInRight 1s ease-out; }
    .heading-primary--sub:hover {
      transform: scale(1.1) skewY(3deg);
      color: #0B090A;
      background-color: white;
      text-shadow: 0.5rem 1rem 2rem rgba(11, 9, 10, 0.2); }

.heading-secondary {
  font-size: 3rem;
  padding: 1rem 2rem;
  font-weight: 700;
  letter-spacing: 1rem;
  text-transform: uppercase;
  display: inline-block;
  color: white;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: scale(1.1) skewY(-3deg);
    color: #B1063A;
    text-shadow: 0.5rem 1rem 2rem rgba(11, 9, 10, 0.2);
    background-color: white;
    border-radius: 2rem;
    letter-spacing: 1.1rem; }
    .heading-secondary:hover .underline {
      border-bottom: 0; }

.underline {
  transition: all .1s;
  padding: 1rem 8rem;
  display: inline-block;
  margin-top: 0;
  border-bottom: .2rem solid white; }
  .underline:hover {
    border-bottom: 0; }

.heading-tertiary {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    padding-bottom: 1rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }

.u-margin-bottom-extra-large {
  margin-bottom: 12rem !important; }

.down-arrow {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  transform: translateY(50rem);
  opacity: 50%; }
  .down-arrow::after {
    content: '';
    width: 4rem;
    height: 4rem;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-right: 0.4rem solid white;
    border-bottom: 0.4rem solid white;
    transform: rotate(45deg);
    animation: arrowDown 3s infinite ease; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 14pt;
  background-color: #CF2D5D;
  color: #FFFFFF;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.card {
  height: 50rem;
  width: 100%;
  transition: all .2s;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(11, 9, 10, 0.15);
  background-color: #F5F3F4;
  position: relative; }
  .card:hover {
    box-shadow: 0 1.5rem 4rem rgba(207, 45, 93, 0.25);
    transform: scale(1.07); }
    .card:hover .card__heading-span--1 {
      background-image: linear-gradient(to right, #cf2d5d, #89062d); }
    .card:hover .card__heading-span--2 {
      background-image: linear-gradient(to right, #cf2d5d, #89062d); }
    .card:hover .card__heading-span--3 {
      background-image: linear-gradient(to right, #cf2d5d, #89062d); }
  .card__image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 60%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__image--1 {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
      background-image: url("../img/mubarrat-image.jpg");
      background-position: 0% 24%; }
    .card__image--2 {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 95%);
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0 95%);
      background-image: url("../img/imran-image-bk.jpg");
      background-position: 60% 68%; }
    .card__image--3 {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 90%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 90%);
      background-image: url("../img/sameer-image.jpg");
      background-position: 59% 22%; }
  .card__heading {
    font-size: 2.3rem;
    font-style: oblique;
    font-weight: 10;
    position: absolute;
    top: 13rem;
    right: -11rem;
    width: 80%;
    text-align: left;
    transform: rotate(90deg); }
  .card__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      -webkit-background-clip: text;
      color: transparent;
      background-image: linear-gradient(to right, #161a1d, #0b090a); }
    .card__heading-span--2 {
      -webkit-background-clip: text;
      color: transparent;
      background-image: linear-gradient(to right, #161a1d, #0b090a); }
    .card__heading-span--3 {
      -webkit-background-clip: text;
      color: transparent;
      background-image: linear-gradient(to right, #161a1d, #0b090a); }
  .card__text {
    margin: 1rem 2rem;
    text-align: center;
    font-size: 1.5rem; }

#message {
  height: 150px;
  resize: none; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: white;
  color: inherit;
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid green; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #C3073F; }
  .form__input::-webkit-input-placeholder {
    color: #393e46; }

.form__label {
  color: #161A1D;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: .5rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.block {
  text-align: center; }

.project {
  display: inline-block; }
  .project__square {
    width: 30rem;
    height: 30rem;
    margin: .22rem 0;
    position: relative; }
  .project__image {
    height: 30rem;
    width: 30rem; }
  .project:hover .project__image {
    filter: blur(5px) brightness(80%); }
  .project__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .project:hover .project__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }

.projects-popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(22, 26, 29, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .projects-popup:target {
    opacity: 1;
    visibility: visible; }
  .projects-popup:target .projects-popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .projects-popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0rem 0 0rem 0;
    width: 50%;
    background-image: linear-gradient(to bottom right, #393e46, #161A1D);
    box-shadow: 0 2rem 4rem rgba(22, 26, 29, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s;
    color: #D3D3D3; }
  .projects-popup__image {
    width: 100%;
    display: block; }
  .projects-popup__left {
    width: 50%;
    display: table-cell; }
  .projects-popup__right {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    padding-left: 3rem;
    padding-right: 2rem; }
  .projects-popup__close:link, .projects-popup__close:visited {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s; }
  .projects-popup__link {
    display: inline-block;
    text-align: left;
    text-decoration: none;
    color: #B1063A; }

.skills-box {
  background-color: transparent;
  padding: 10rem 0rem;
  position: relative;
  transition: all .2s;
  margin: 2rem 0;
  color: white; }
  .skills-box:hover {
    transform: scale(1.075); }
    .skills-box:hover .skills-box__icon {
      height: 22rem; }
    .skills-box:hover .skills-box__text {
      transition: all .3s;
      font-size: 3.5rem;
      color: #B1063A;
      font-weight: 500;
      background-color: white;
      padding: 0 2rem;
      border-radius: 2rem; }
  .skills-box__icon {
    height: 20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%) scale(0.9); }
  .skills-box__text {
    margin-top: 2rem;
    color: rgba(245, 243, 244, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 110%);
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: .2rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc((100% - 6rem) / 2); }
  .row .col-3-of-4 {
    width: calc(((100% - 3 * 6rem) / 4) + ((100% - 6rem) / 2) + 6rem); }

.header {
  height: 100vh;
  background-image: url("../img/background-cover-2.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  z-index: 0; }
  .header__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

body .fixed-nav nav {
  position: fixed;
  top: 0;
  width: 100%; }

.navigation {
  z-index: 100;
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  display: inline-block; }
  .navigation__nav {
    height: 6vh;
    background-color: #161A1D;
    text-align: center; }
  .navigation__list {
    display: inline-block; }
  .navigation__link, .navigation:link, .navigation:visited {
    display: inline-block;
    color: #9E9E9E;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 1.5rem; }
    .navigation__link:hover, .navigation:link:hover, .navigation:visited:hover {
      color: #B1063A;
      background-color: #0B090A; }

.paragraph {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3px 4px;
  background-color: darkgrey;
  text-align: center; }

.section {
  color: #ffffff;
  height: 75vh;
  margin: 0; }

h2 {
  margin: 0;
  padding: 0; }

.skills {
  display: block;
  padding: 20rem 0;
  background-color: rgba(11, 9, 10, 0.2);
  background-image: linear-gradient(to right, rgba(207, 45, 93, 0.5), rgba(137, 6, 45, 0.5)), url(../img/skills-cover.jpg);
  background-size: cover;
  margin-top: 30rem;
  transform: skewY(-7deg); }
  .skills > * {
    transform: skewY(7deg); }

.about-us {
  padding: 10rem 0 0 0; }

.projects {
  padding: 15rem 0 25rem 0; }

.section-contact {
  padding: 15rem 0;
  background-image: url(/img/skills-cover.jpg);
  background-size: cover;
  margin-top: 30rem;
  transform: skewY(7deg); }
  .section-contact > * {
    transform: skewY(-7deg); }

.contact {
  background-image: linear-gradient(110deg, #CF2D5D 0%, #CF2D5D 40%, rgba(255, 255, 255, 0.9) 40%);
  background-size: 100%;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba(22, 26, 29, 0.4);
  height: 50rem; }
  .contact__heading {
    position: fixed;
    margin-top: 20rem;
    margin-left: 5rem;
    border-bottom: 0; }
  .contact__form {
    margin-left: 45%;
    width: 40%;
    padding: 6rem; }
