@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 100%;
    transform: translateX(0px); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 100%;
    transform: translateX(0px); } }

@keyframes arrowDown {
  0% {
    top: 5rem; }
  50% {
    top: 8rem; }
  100% {
    top: 5rem; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: Avenir, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7; }

.heading-primary {
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1.1rem;
    animation: moveInLeft 1s ease-out; }
    .heading-primary--main:hover {
      transform: scale(1.1) skewY(-3deg);
      color: #1A1A1D;
      text-shadow: 0.5rem 1rem 2rem rgba(26, 26, 29, 0.2);
      background-color: white; }
  .heading-primary--sub {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: moveInRight 1s ease-out; }
    .heading-primary--sub:hover {
      transform: scale(1.1) skewY(3deg);
      color: #1A1A1D;
      background-color: white;
      text-shadow: 0.5rem 1rem 2rem rgba(26, 26, 29, 0.2); }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }

.down-arrow {
  z-index: 100;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  transform: translateY(60rem);
  opacity: 50%; }
  .down-arrow::after {
    content: '';
    width: 4rem;
    height: 4rem;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-right: 0.4rem solid white;
    border-bottom: 0.4rem solid white;
    transform: rotate(45deg);
    animation: arrowDown 3s infinite ease; }

.header {
  height: 95vh;
  background-image: url("../img/background-cover-2.jpg");
  background-size: cover;
  padding: 0rem;
  z-index: 1; }
  .header__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
  text-align: center; }
  .navigation__nav {
    width: 100%;
    height: 5vh;
    background-color: #212121;
    bottom: 0;
    display: inline-block;
    text-align: center; }
  .navigation__list {
    display: inline-block; }
  .navigation #contact_us {
    border-radius: 50px;
    background: #0277BD;
    height: 95%; }
  .navigation__link, .navigation:link, .navigation:visited {
    display: inline-block;
    color: #9E9E9E;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 1.5rem; }
    .navigation__link:hover, .navigation:link:hover, .navigation:visited:hover {
      color: #FFFFFF; }

.paragraph {
  color: yellow;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3px 4px;
  background-color: darkgrey;
  text-align: center; }

.section {
  color: #ffffff;
  height: 75vh;
  margin: 0; }

#a {
  background-color: #0074d9; }

#b {
  background-color: #2ecc40; }

#c {
  background-color: #ff851b; }

#d {
  background-color: #b10dc9; }

h2 {
  margin: 0;
  padding: 0; }
