@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 100%;
    transform: translateX(0px); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 100%;
    transform: translateX(0px); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background-color: #161A1D; }

body {
  font-family: Avenir, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7; }

.heading-primary {
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1.1rem;
    animation: moveInLeft 1s ease-out; }
    .heading-primary--main:hover {
      transform: scale(1.1) skewY(-3deg);
      color: #161A1D;
      text-shadow: 0.5rem 1rem 2rem rgba(11, 9, 10, 0.2);
      background-color: white; }
  .heading-primary--sub {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: moveInRight 1s ease-out; }
    .heading-primary--sub:hover {
      transform: scale(1.1) skewY(3deg);
      color: #0B090A;
      background-color: white;
      text-shadow: 0.5rem 1rem 2rem rgba(11, 9, 10, 0.2); }

.heading-secondary {
  font-size: 3rem;
  padding: 1rem 2rem;
  font-weight: 700;
  letter-spacing: 1rem;
  text-transform: uppercase;
  display: inline-block;
  color: white;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: scale(1.1) skewY(-3deg);
    color: #B1063A;
    text-shadow: 0.5rem 1rem 2rem rgba(11, 9, 10, 0.2);
    background-color: white;
    border-radius: 2rem;
    letter-spacing: 1.1rem; }
    .heading-secondary:hover .underline {
      border-bottom: 0; }

.underline {
  transition: all .1s;
  padding: 1rem 8rem;
  display: inline-block;
  margin-top: 0;
  border-bottom: .2rem solid white; }
  .underline:hover {
    border-bottom: 0; }

.heading-tertiary {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    padding-bottom: 1rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }

.u-margin-bottom-extra-large {
  margin-bottom: 12rem !important; }

.hexagon-box {
  background-color: transparent;
  padding: 10rem 0rem;
  position: relative;
  transition: all .2s;
  margin: 2rem 0; }
  .hexagon-box:hover {
    transform: scale(1.075); }
    .hexagon-box:hover .hexagon-box__icon {
      height: 22rem; }
    .hexagon-box:hover .hexagon-box__text {
      transition: all .3s;
      font-size: 3.5rem;
      color: #B1063A;
      font-weight: 500;
      background-color: white;
      padding: 0 2rem;
      border-radius: 2rem; }
  .hexagon-box__icon {
    height: 20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%); }
  .hexagon-box__text {
    margin-top: 2rem;
    color: rgba(245, 243, 244, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 110%);
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: .2rem; }

#message {
  height: 150px;
  resize: none; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: white;
  color: inherit;
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid green; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #C3073F; }
  .form__input::-webkit-input-placeholder {
    color: #393e46; }

.form__label {
  color: #161A1D;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: .5rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 14pt;
  background-color: #CF2D5D;
  color: #FFFFFF;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 18rem; }
  .row .col-1-of-2 {
    width: calc((100% - 18rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 18rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 18rem) / 3) + 18rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 18rem) / 4); }
  .row .col-2-of-4 {
    width: calc((100% - 18rem) / 2); }
  .row .col-3-of-4 {
    width: calc(((100% - 3 * 18rem) / 4) + ((100% - 18rem) / 2) + 18rem); }

.header {
  height: 100vh;
  background-image: url("../img/background-cover-2.jpg");
  background-size: cover;
  padding: 0;
  z-index: 1;
  position: relative; }
  .header__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation {
  position: relative; }
  .navigation__nav {
    list-style-type: none;
    text-align: center;
    position: absolute; }
  .navigation__list {
    float: left;
    margin: 2rem 1rem; }
  .navigation__link, .navigation:link, .navigation:visited {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-color: orangered;
    padding: 1rem 1.5rem; }

.paragraph {
  color: yellow;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3px 4px;
  background-color: darkgrey;
  text-align: center; }

.skills {
  display: block;
  padding: 20rem 0;
  background-color: rgba(11, 9, 10, 0.2);
  background-image: linear-gradient(to right, rgba(207, 45, 93, 0.5), rgba(137, 6, 45, 0.5)), url(../img/skills-cover.jpg);
  background-size: cover;
  margin-top: 30rem;
  transform: skewY(-7deg); }
  .skills > * {
    transform: skewY(7deg); }

.section-contact {
  padding: 15rem 0;
  background-image: url(/img/skills-cover.jpg);
  background-size: cover;
  margin-top: 30rem;
  transform: skewY(7deg); }
  .section-contact > * {
    transform: skewY(-7deg); }

.contact {
  background-image: linear-gradient(110deg, #CF2D5D 0%, #CF2D5D 40%, rgba(255, 255, 255, 0.9) 40%);
  background-size: 100%;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba(22, 26, 29, 0.4);
  height: 50rem; }
  .contact__heading {
    position: fixed;
    margin-top: 20rem;
    margin-left: 5rem;
    border-bottom: 0; }
  .contact__form {
    margin-left: 45%;
    width: 40%;
    padding: 6rem; }
