//COLOURS
//$color-primary-light: #CF2D5D;
//$color-primary-dark: #C3073F;
//
//$color-grey-1: #6D676E;
//
//$color-white: #FFFFFF;
//$color-black: #1A1A1D;

$color-white-1: #FFFFFF;
$color-white-2: #F5F3F4;

$color-grey-light: #D3D3D3;
$color-grey-dark: #B1A7A6;
$color-grey-dark2: #393e46;

$color-primary-light: #CF2D5D;
$color-primary-1: #C3073F;
$color-primary-2: #B1063A;
$color-primary-dark: #89062D;

$color-black-1: #161A1D;
$color-black-2: #0B090A;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
//$gutter-horizontal: 18rem;