
.header {
  //background-image: linear-gradient(to right,
  //        rgba($color-primary-light, .2),
  //        rgba($color-primary-dark, .2)),
  //url("../img/background-cover.jpg");
  //background-image: radial-gradient(rgba($color-primary-light, 1),
  //        rgba($color-primary-dark, 1), rgba($color-black, .78));
  //height: 100vh;

  height: 94vh;
  background-image: url("../img/background-cover-2.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  z-index: 0;
  //position: relative;

  &__text {
    @include center();
    text-align: center;
  }
}

