.header {
  height: 100vh;
  background-image: url("../img/background-cover-2.jpg");
  background-size: cover;
  padding: 0;
  z-index: 1;
  position: relative;

  &__text {
    @include center();
    text-align: center;

  }
}