.navigation {
  position: relative;

  &__nav {
    //bottom: 4rem;
    list-style-type: none;
    text-align: center;
    position: absolute;




  }

  &__list {
    float: left;
    margin: 2rem 1rem;

  }



  &__link,
  &:link,
  &:visited {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-color: orangered;
    padding: 1rem 1.5rem;

  }
}