body .fixed-nav nav{
  position: fixed;
  top:0;
  width: 100%;
  ;
}
.navigation {
  z-index: 100;
  position: absolute;
  text-align: center;
  bottom:0;
  width: 100%;
  display: inline-block;
  &__nav {
    height: 6vh;
    text-align: center;
    /* "to left" / "to right" - affects initial color */
    background: $color-black-1;
    background-size: 200%;
  }

  &__list {
    display: inline-block;

  }

  //#contact_us{
  //  border-radius: 50px;
  //  background: #0277BD;
  //  height: 95%;
  //}

  &__link,
  &:link,
  &:visited {
    display: inline-block;
    color: #9E9E9E;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    &:hover{
      color: $color-primary-2;
      background-color: $color-black-2;

    }
  }
}
