// discover our tours button
.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;

    // change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, .2); /* (offset in x, offset in y, blur radius, color & transparency) */
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;
  }

  &--animated {
    animation: moveInUp .8s .4s ease-out;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: 1.6rem;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    color: $color-primary;
    transition: all .2s;
    padding: 3px;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-2px);
  }

  &:active,
  &:focus {
    outline: none;
    box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    transform: translateY(0px);
  }
}