body {
  font-family: Avenir, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
}

.heading-primary {
  color: $color-white-1;
  text-transform: uppercase;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1.1rem;
    transition: all .2s ease-in-out;
    animation: moveInLeft 1s ease-out;
    .break1{
      display: none;
    }
    @include respond(phone){
        margin-left: 1rem;
        font-size: 4rem;
      .break1{
        display: block;
      }
    }
    &:hover {
      transform: scale(1.1) skewY(-3deg);
      color: $color-black-1;
      text-shadow: .5rem 1rem 2rem rgba($color-black-2, 0.2);
      background-color: white;

    }
  }

  &--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    transition: all .2s ease-in-out;
    animation: moveInRight 1s ease-out;
    @include respond(phone){
      font-size: 1.5rem;
    }

    &:hover {
      transform: scale(1.1) skewY(3deg);
      color: $color-black-2;
      background-color: white;
      text-shadow: .5rem 1rem 2rem rgba($color-black-2, 0.2);
    }
  }
}

.heading-secondary {
  font-size: 3rem;
  padding: 1rem 2rem;
  font-weight: 700;
  letter-spacing: 1rem;
  text-transform: uppercase;
  display: inline-block;
  color: white;
  transition: all .2s;

  @include respond(tab-port){
    font-size: 3rem;
  }
  @include respond(phone){
    font-size: 2rem;
    margin-left: 1rem;
  }
  &:hover {
    transform: scale(1.1) skewY(-3deg);
    color: $color-primary-2;
    text-shadow: .5rem 1rem 2rem rgba($color-black-2, 0.2);
    background-color: white;
    border-radius: 2rem;
    letter-spacing: 1.1rem;


    .underline {
      border-bottom: 0;
    }

  }


}

.underline {
  transition: all .1s;
  padding: 1rem 8rem;
  display: inline-block;
  margin-top: 0;
  border-bottom: .2rem solid white;

  &:hover {
    border-bottom: 0;
  }
}

.heading-tertiary {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
  &:not(:last-child) {
    padding-bottom: 1rem;
  }
}
