.paragraph {
  color: yellow;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3px 4px;
  background-color: darkgrey;
  text-align: center;
}

.section {
  color: #ffffff;
  height: 75vh;
  margin: 0;
}

#a { background-color: #0074d9; }
#b { background-color: #2ecc40; }
#c { background-color: #ff851b; }
#d { background-color: #b10dc9; }

h2 {
  margin: 0;
  padding: 0;
}